.firstPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.firstPage-content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-image: url("../../../public/Images/bg-image-hf.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.firstPage-text {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 3px 5px rgb(78, 77, 77);
}
.firstPage-text h1 {
  font-size: 60px;
  word-spacing: 5px;
  font-weight: 500;
}
.firstPage-text h2 {
  font-weight: 500;
  font-size: 42px;
}

.firstPage-text h2 span {
  color: rgb(241, 147, 7);
  text-decoration-line: underline;
}
/* 
.firstPage-img {
  max-width: 600px;
} */

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  border-top: 2px solid black;
}

/* .info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}

.about-bg {
  background-image: url("../../../public/Images/window-upgrade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.services-bg {
  background-image: url("../../../public/Images/construction-upgrade.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.fields-bg {
  background-image: url("../../../public/Images/halsingland-upgrade.png");
  background-size: cover;
  background-repeat: no-repeat;
} */
